{% extends 'base/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Cabecera de página -->
<section class="bg-color2 text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">
            <i class="bi bi-restaurant"></i> Bienvenidos a Restaurant Marcelo Osses
        </h1>
        <p class="lead">
            <i class="bi bi-star-fill"></i> La mejor experiencia gastronómica te espera.
        </p>
        <p class="lead">
            <i class="bi bi-person-circle"></i> Desarrollado por Marcelo Vicente Osses Meza.
        </p>
        <a href="{% url 'reservasCrear' %}" class="btn btn-color4">
            <i class="bi bi-calendar-check"></i> Registra una Reserva
        </a>
    </div>
</section>

<!-- Sección nosotros -->
<section id="nosotros" class="py-5">
    <div class="container">
        <h2 class="text-center text-color1">
            <i class="bi bi-info-circle"></i> ¿Quiénes somos?
        </h2>
        <p class="text-center">
            Somos un restaurante comprometido con la excelencia y la calidad en cada plato. Desde nuestros humildes comienzos, nos hemos dedicado a ofrecer una experiencia culinaria inolvidable, combinando ingredientes de alta calidad con técnicas tradicionales y contemporáneas. Nuestro equipo está formado por profesionales apasionados, que trabajan para brindarte no solo una comida, sino también un lugar donde crear momentos especiales con tus seres queridos. ¡Ven a conocernos y descubre por qué somos el corazón de la buena cocina en la región!
        </p>
    </div>
</section>

<!--Agregar un video de youtube

    Button trigger modal
    <div class = "container py-3 text-center" >
        <button type="button" class="btn btn-color4" data-bs-toggle="modal" data-bs-target="#notMyBaby">
            Te invitamos a escuchar la siguiente canción 🎶🎵
        </button>
        
        Modal
        <div class="modal fade" id="notMyBaby" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Not My Baby - Alvvays</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/XQtrhodlY68" title="Alvvays - Not My Baby (Live on KEXP)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-color4" data-bs-dismiss="modal">¡Que temazo lptm!</button>
                </div>
            </div>
            </div>
        </div>
    </div>
Fin Agregar un video de youtube-->

<!-- Sección servicios -->
<section class="services-section align-items-center py-5" id="nservicios">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="container">
                        <h2 class="text-center text-color1">
                            <i class="bi bi-calendar2-event"></i> Reservas
                        </h2>
                        <p class="text-center">
                            <i class="bi bi-calendar4"></i>Gestiona tus reservas de manera rápida y fácil.
                        </p>
                        <p class="text-center">
                            Revisa, Registra, Edita y Elimina Reservas.
                        </p>
                        <div class="text-center">
                            <a href="{% url 'verReservas' %}" class="btn btn-color4">
                                <i class="bi bi-box-arrow-right"></i> Ir a Reservas
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="container">
                        <h2 class="text-center text-color1">
                            <i class="bi bi-person-workspace"></i> Administrador
                        </h2>
                        <p class="text-center">
                            <i class="bi bi-shield-lock"></i> ¿Eres el encargado de administrar reservas?
                        </p>
                        <p class="text-center">
                            Ingresa aquí con tu cuenta de administrador.
                        </p>
                        <div class="text-center">
                            <a target="_blank" href="{% url 'admin:index' %}" class="btn btn-color4">
                                <i class="bi bi-person-fill-lock"></i> Ir a Admin
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="container">
                        <h2 class="text-center text-color1">
                            <i class="bi bi-cloud-arrow-down"></i> API Reservas
                        </h2>
                        <p class="text-center">
                            <i class="bi bi-hammer"></i> Accede a la API pública de reservas
                        </p>
                        <p class="text-center">
                            Consume esta API para agregar, editar y eliminar reservas en las nuevas apps de la empresa.
                        </p>
                        <div class="text-center">
                            <a target="_blank" href="{% url 'reservasAPI' %}" class="btn btn-color4">
                                <i class="bi bi-box-arrow-up-right"></i> Ir a API Reservas
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección Prueba la api -->
<div class="container py-5">
    <div class="row g-4 justify-content-center">
        <div class="text-center text-color1">
            <h2>
                <i class="bi bi-terminal"></i>
                Prueba la api
            </h2>
        </div>
        <div class="text-center">
            <p>
                <i class="bi bi-list-ol text-color3"></i>
                Inserta un numero entero correspondiente al id de la reserva que quieras buscar.
            </p>
            <p>
                <i class="bi bi-braces text-color3"></i>
                Conoce el formato JSON en que te entregaremos la información de la reserva.
            </p>
        </div>
        <div class="row justify-content-center">
            <section class="col-md-6 col-lg-4 services-section align-items-center py-5">
                <div class="input-group">
                    <span class="input-group-text">/reservasAPI/</span>
                    <input type="text" id="endpoint" class="form-control text-color3" placeholder="Introduce el ID (ej: 1/)">
                    <p>*Puedes dejar el campo vacío para obtener la información de todas las reservas.</p>
                </div>
            </section>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-2">
                <button class="btn btn-color4 w-100" onclick="testAPI()">Submit</button>
            </div>
        </div>

            <h3 class="text-center text-color1">Response:</h3>
            <pre id="response" class="text-center"></pre>
        
    </div>
</div>

    <!---- Script para consumir la api e interpretar los resultados-->
    <script>
        function testAPI() {
            const endpoint = document.getElementById("endpoint").value;
            const baseURL = "http://127.0.0.1:8000/reservasAPI/";
            const url = baseURL + endpoint;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("response").textContent = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    document.getElementById("response").textContent = "Error: " + error;
                });
        }
    </script>

<!-- Fin sección prueba la api-->

<!-- Sección Contacto -->
<section id="contacto" class="py-5">
    <div class="container">
        <h2 class="text-center text-color1">
            <i class="bi bi-envelope"></i> Contáctanos
        </h2>
        <p class="text-center">
            <i class="bi bi-envelope-fill"></i> Correo: mvossesmeza@gmail.com | 
            <i class="bi bi-telephone-fill"></i> Teléfono: +56 9 3082 3716
        </p>
    </div>
</section>

{% endblock %}
