{% extends 'base/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Cabecera de página -->
<section class="bg-color2 text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Bienvenidos a Restaurant Marcelo Osses</h1>
        <p class="lead">La mejor experiencia gastronómica te espera.</p>
        <p class="lead">Desarrollado por Marcelo Vicente Osses Meza.</p>
        <a href="#reservas" class="btn btn-color4">Reserva tu mesa</a>
    </div>
</section>

<!-- Sección nosotros -->
<section id="nosotros" class="py-5">
    <div class="container">
        <h2 class="text-center text-color1">¿Quiénes somos?</h2>
        <p class="text-center">Somos un restaurante comprometido con la excelencia y la calidad en cada plato. Desde nuestros humildes comienzos, nos hemos dedicado a ofrecer una experiencia culinaria inolvidable, combinando ingredientes de alta calidad con técnicas tradicionales y contemporáneas. Nuestro equipo está formado por profesionales apasionados, que trabajan para brindarte no solo una comida, sino también un lugar donde crear momentos especiales con tus seres queridos. ¡Ven a conocernos y descubre por qué somos el corazón de la buena cocina en la región!</p>
    </div>
</section>

<!-- Seccion reservas -->
<section id="reservas" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center text-color1">Reservas</h2>
        <p class="text-center">Gestiona tus reservas de manera rápida y fácil.</p>
        <div class="text-center">
            <a href="{% url 'verReservas' %}" class="btn btn-color4">Ir a Reservas</a>
        </div>
    </div>
</section>

<!-- Sección Admin -->
<section id="admin" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center text-color1">Administrador</h2>
        <p class="text-center">¿Eres el encargado de administrar reservas?</p>
        <p class="text-center">Ingresa aqui con tu cuenta de administrador.</p>
        <div class="text-center">
            <a href="{% url 'admin:index' %}" class="btn btn-color4">Ir a Admin</a>
        </div>
    </div>
</section>

<!-- Sección redirigir a API -->
<section id="api" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center text-color1">API Reservas</h2>
        <p class="text-center">Accede a la API pública de reservas</p>
        <p class="text-center">Consume esta api para agregar, editar y eliminar reservas en las nuevas apps de la empresa</p>
        <div class="text-center">
            <a href="{% url 'reservasAPI' %}" class="btn btn-color4">Ir a API Reservas</a>
        </div>
    </div>
</section>

<!-- Sección Contacto -->
<section id="contacto" class="py-5">
    <div class="container">
        <h2 class="text-center text-color1">Contáctanos</h2>
        <p class="text-center">Correo: mvossesmeza@gmail.com | Teléfono: +56 9 3082 3716</p>
    </div>
</section> 
{% endblock %}